:root {
  /* Variables colores */
  --color-primario: #111111;
  --color-secundario: #ff2c2c;
  /* Variable fuente */
  --fuente-header: "Antonio", sans-serif;
  --fuente-page: "Lato", sans-serif;
}
/* Globales */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px; /* 1rem = 10px */
  font-family: var(--fuente-page);
  /* background-color: black; */
}
/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: .8rem; 
}
.scrollbar::-moz-scrollbar {
  width: .8rem; 
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ce2d2d;
  border-radius: .5rem;
}
.scrollbar::-moz-scrollbar-thumb {
  background-color: #ce2d2d;
  border-radius: .5rem;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* Utilidades */
.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
.seccion {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.subtitulo {
  color: #fff;
  font-family: var(--fuente-page);
}
.subtitulo--cuerpo {
  color: #ff2c2c;
  text-align: center;
  margin-bottom: 4rem;
}
.fw-700 {
  font-weight: 700;
}
/* .mt-2rem {
  margin-top: 2rem;
} */


/* Body Wraper */
.body-wraper {
  width: calc(
    100% - 22rem
  ); /* Se le define al cuerpo desde donde se trabajará */
  margin-left: auto;
  position: relative; /* Posicion relativa para posicionar el header */
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .body-wraper {
    width: 100%;
  }
}
/*========== Header ==========*/

/* Cabecera */
.cabecera {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
  /* top y left posicionan el header en la izquierda */
  position: fixed; /* Deja la posicion fija */
  top: 0;
  left: 0;
  width: 22rem; /* Se le define un ancho */
  height: 100%;
  /* z-index: 99; */
  padding: 5rem 2rem 2rem 2rem;
  font-family: var(--fuente-header);
  box-shadow: 0 0.1rem 1.5rem rgb(255 255 255 / 45%);
}
.titulo {
  margin-bottom: 4rem;
  cursor: pointer;
}
.titulo__pagina {
  color: #fff;
  font-family: var(--fuente-page);
}

/* Navegacion */
.navegacion {
  display: flex;
  flex-direction: column;
}
.navegacion__link {
  margin-bottom: 5rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.navegacion__link:hover {
  color: var(--color-secundario);
}
.navegacion__link:last-of-type {
  margin-bottom: 0;
}

/* Sigueme */
.sigueme {
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  width: 100%;
}
.sigueme__texto {
  color: #666666;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0.8rem;
}
.sigueme__texto:hover {
  color: rgb(138, 136, 136);
}
span .icon-right {
  margin-left: 1rem;
  font-size: 1.8rem;
}

/* Redes sociales */
.sigueme__redes-sociales {
  position: fixed;
  bottom: 0;
  margin: 0 0 1rem 20rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  display: none;
  /* animation CSS */
  animation-name: aparecer;
  animation-duration: 500ms;
  animation-timing-function: linear;
}
.sigueme:hover .sigueme__redes-sociales {
  display: flex;
}
@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End animation CSS */
.sigueme__redes-sociales ul {
  margin: 0;
  padding: 0;
}
.sigueme__redes-sociales ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
}
.sigueme__redes-sociales ul li:last-of-type {
  margin-right: 0;
}
.sigueme__redes-sociales ul li a {
  display: block;
  padding: 0 10px;
  background-color: #555;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.sigueme__redes-sociales ul:hover a {
  filter: blur(2px);
}
.sigueme__redes-sociales ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  filter: none;
}
.sigueme__redes-sociales ul li .facebook:hover {
  background-color: #3b5999;
}
.sigueme__redes-sociales ul li .instagram:hover {
  background-color: #e4405f;
}
.sigueme__redes-sociales ul li .whatsapp:hover {
  background-color: #00e676;
}
.sigueme__redes-sociales ul li .linkedin:hover {
  background-color: #0a66c2;
}
.sigueme__redes-sociales ul li .github:hover {
  background-color: #252a2f;
}
@media only screen and (max-width: 992px) {
  .cabecera {
    display: none;
  }
}

/*========== Menu Responsive ==========*/
/* Cabecera Responsive */
.cabecera-responsive {
  display: none;
}
@media only screen and (max-width: 992px) {
  .cabecera-responsive {
    display: flex;
    background-color: var(--color-primario);
  }
  .menu-movil {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: absolute;
  }
  .menu-movil span {
    display: block;
    background-color: #f3f3f3;
    height: .5rem;
    width: 3rem;
    margin: 1rem auto;
    border-radius: 5rem;
  }
}

/*========== Index ==========*/
/* Portada */
.portada {
  background-image: url(../img/fondo-portada.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}
.portada-contenido {
  height: 100%;
  display: flex;
  padding: 10rem 0 0 10rem;
  flex-direction: column;
  /* align-items: center; */
}
.portada-contenido .subtitulo {
  text-transform: capitalize;
  font-size: 7rem;
  margin-bottom: 20rem;
  font-family: var(--fuente-header);
  letter-spacing: 1rem;
}
.portada-contenido .frases {
  color: #fff;
  font-size: 2rem;
  background-color: rgba(2, 2, 2, 0.6);
  padding: 3rem;
  width: 90%;
  text-align: center;
  border-radius: 1rem;
}

/*========== Particulas ==========*/
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

/*========== Perfil ==========*/
.perfil .subtitulo {
  color: var(--color-secundario);
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}
.perfil-profesional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  /* height: 10rem; */
}
.perfil-profesional__parrafo {
  display: flex;
  align-items: center;
}
.perfil-profesional__parrafo .perfil-profesional__parrafo--texto {
  font-size: 2rem;
  line-height: 2;
  text-align: center;
}
.perfil-profesional__imagen {
  background-image: url(../img/perfil-profesional.jpg);
  background-size: cover;
  background-position: right;
  height: 50rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 4rem 0 #000000;
  box-shadow: 0 0 4rem 0 #000000;
}

/*========== Experiencias ==========*/
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.galeria__experiencia {
  height: 20rem;
  width: 100%;
  border: 0.2rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secundario);
  transition: all 0.4s ease-in-out;
}
.galeria__experiencia:hover {
  transform: scale(1.05);
}
.muy-pronto {
  background-color: var(--color-primario);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
}

/*========== Habilidades ==========*/
.galeria__habilidad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.galeria__habilidad .icons {
  font-size: 20rem;
}
.galeria__habilidad--html {
  color: #f4470b;
}
.galeria__habilidad--css {
  color: #016cb4;
}
.galeria__habilidad--js {
  color: #e8d44d;
}
.galeria__habilidad--git {
  color: #e84e31;
}
.galeria__habilidad--php {
  color: #7377ad;
}
.galeria__habilidad--java {
  color: #e51f24;
}
.galeria__habilidad i {
  transition: all 0.4s ease-in-out;
}
.galeria__habilidad i:hover {
  transform: scale(1.05);
}
/*========== Contactos ==========*/
/*========== Footer ==========*/
.pie-pagina {
  background-color: var(--color-primario);
}
.copyright {
  color: #fff;
  text-align: center;
  padding: 3rem 0;
  font-size: 2rem;
}
